<%= render 'shared/errors', object: @diet %>

<div class="container mt-4">

  <h2>New diet</h2>

  <%= form_with model: @diet do |f| %>

      <div class="field mt-3 col-sm-5">
        <%= f.label :name %><br />
        <%= f.text_field :name, placeholder: "Your diet", class: 'form-control' %>
      </div>

      <div class="field mt-3 col-sm-5">
        <%= f.label :date, 'For date:' %>
        <%= f.text_field :date, required: true,
          data: {
          controller: "flatpickr",
          min_date: Time.now
        } %>
      </div>

      <div class="form mt-3 col-sm-5" data-controller="select2">
        <%= f.label :meals, 'Choose meals for your diet:' %><br/>
        <%= f.collection_select :meal_ids, meals, :id, :name, {}, multiple: true %>
      </div>

      <div>
        <%= f.submit "Save Diet", class: 'btn btn-primary mt-3'%>
      </div>

  <% end %>
</div>
