<div class="container mt-4">
  <article class="card mb-3">
    <div class="card-body">
      <h1><%= @diet.name %></h1>

      <section class="card-text">
        <time datetime="<%= @diet.format_date %>">
          <small>for date: <%= @diet.format_date %></small>
        </time>
      </section>

      <hr>

      <div class="mt-4">
        <h3><strong>Meals:</strong></h3>
      </div>

      <div class="my-2">
        <%= render @diet.meals %>
      </div>

      <div class="my-3">
        <h3><strong>Total calories:</strong></h3>
        <%= @diet.meals.sum(&:calories) %>

      </div>

      <div class="my-3">
        <h3><strong>Nutrients:</strong></h3>
        <ul>
          <li>Surgar: <%= @diet.meals.sum(&:sugar) %></li>
          <li>Protein: <%= @diet.meals.sum(&:protein) %></li>
          <li>Fat: <%= @diet.meals.sum(&:fat) %></li>
          <li>Carbohydrates: <%= @diet.meals.sum(&:carbohydrates) %></li>
        </ul>
      </div>

      <div class="btn-group">
        <div class="left-group">
          <% if policy(@diet).edit? %>
            <%= link_to 'Edit', edit_diet_path(@diet), class: 'btn btn-primary mt-2 me-2'%>
          <% end %>

          <% if policy(@diet).destroy? %>
            <%= button_to 'Delete', diet_path(@diet), method: :delete,
            form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger mt-2 me-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </article>

  <div class="mt-4">
    <%= link_to 'Back', diets_path, class: 'link-success' %>
  </div>

</div>

