<div class="container">
  <h1 class="mb-4 mt-4">List of your eaten meals:</h1>
  <div class="mt-3 mb-3">
    <%= form_tag(eaten_products_path, method: :get) do  %>
      <label>Select by day:</label>
      <%= date_field_tag(:search_by_day, params[:search_by_day],
        data: {
        controller: "flatpickr",
        selected: params[:search_by_day]
        }) %>
      <%= submit_tag('Find') %>
    <% end %>
  </div>

  <% if @eaten_products.present? %>
    <% @eaten_products.each do |eaten_product| %>
      <%= render eaten_product %>
    <% end %>

    <article class="card mb-3">
      <div class="card-body">
        <h2>Stats for this day:</h2>
        <% @eaten_products.each do |eaten_product| %>
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nutrients</th>
              <th scope="col">In total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Calories</th>
             <td><%= eaten_product.meals.sum(&:calories) %></td>
            </tr>
            <tr>
              <th scope="row">Sugar</th>
              <td><%= eaten_product.meals.sum(&:sugar) %></td>
            </tr>
            <tr>
              <th scope="row">Protein</th>
              <td><%= eaten_product.meals.sum(&:protein) %></td>
            </tr>
            <tr>
              <th scope="row">Fat</th>
              <td><%= eaten_product.meals.sum(&:fat) %></td>
            </tr>
            <tr>
              <th scope="row">Carbohydrates</th>
              <td><%= eaten_product.meals.sum(&:carbohydrates) %></td>
            </tr>
          </tbody>
          </table>
        <% end %>
      </div>
    </article>

  <% else %>
    <%= 'You have no eaten meals for this day.' %>

    <% if policy(:eaten_product).new? %>
      <div class="button-group mt-3 mb-3">
        <%= link_to 'Add new eaten meals list', new_eaten_product_path(@eaten_product), class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
